@tailwind base;
@tailwind components;
@tailwind utilities;

/** {*/
/*    outline: green 1px solid*/
/*}*/

/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #EEEEEE;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #C73659;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #A91D3A;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  text-align: center;
}
/*#container {*/
/*    width: 500px; !* Desired display width *!*/
/*    height: 500px; !* Desired display height *!*/
/*    overflow: hidden;*/
/*}*/

/*canvas {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/
